<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div layout:fragment="content" id="content" class="container">
    <div class="container aligned-margines">
        <div class="col-lg-12 mb-4">
            <div id="productForm" class="card shadow">
                <div class="card-header row col-12 aligned-margines shadow-table-header">
                    <h3 class="table-head-title" th:text="#{product.manage.alternatives}"></h3>
                </div>
                <div class="row card-body">
                    <div class="row col-md-12">
                        <div class="offset-1 row col-5 middled separate-right">
                            <h3 class="table-head-title" th:text="#{product.alternative}"></h3>
                        </div>
                        <div class="offset-1 col-md-5 card-body middled bold">
                            <div class="row col-12 table-header aligned-margines shadow">
                                <div class="col-3" th:text="#{product.alternative.id}"></div>
                                <div class="col-6" th:text="#{product.alternative.name}"></div>
                                <div class="col-3" th:text="#{product.alternative.delete}"></div>
                            </div>
                            <div class="row col-12 colored aligned-margines shadow bold"
                                 th:each="alternative : ${currentAlternatives.entrySet()}">
                                <div class="col-3 table-element" th:text="${alternative.getValue()}"></div>
                                <div class="col-6 table-element" th:text="${alternative.getKey()}"></div>
                                <div class="col-3">
                                    <a class="col-12 button form-control" th:text="#{delete}"
                                       th:href="@{'/ordering/product/edit/alternatives/delete/' + ${productId} + '/' + ${alternative.getValue()}}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row card-body">
                    <div class="row col-md-12">
                        <div class="offset-1 row col-5 middled separate-right">
                            <h3 class="table-head-title" th:text="#{product.alternative.available}"></h3>
                        </div>
                        <div class="offset-1 col-md-5 card-body middled bold">
                            <div class="row col-12 table-header aligned-margines shadow">
                                <div class="col-3" th:text="#{product.alternative.id}"></div>
                                <div class="col-6" th:text="#{product.alternative.name}"></div>
                                <div class="col-3" th:text="#{product.alternative.add}"></div>
                            </div>
                            <div class="row col-12 colored aligned-margines shadow bold"
                                 th:each="alternative : ${availableAlternatives}">
                                <div class="col-3 table-element" th:text="${alternative.getValue()}"></div>
                                <div class="col-6 table-element" th:text="${alternative.getKey()}"></div>
                                <div class="col-3">
                                    <a class="col-12 button form-control" th:text="#{add}"
                                       th:href="@{'/ordering/product/edit/alternatives/add/' + ${productId} + '/' + ${alternative.getValue()}}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-8">
            <a class="button button-create-orderlist shadow" th:href="@{'/product/edit/'+${id}}"
               th:text="#{ctrl.previous}"></a>
        </div>
    </div>
</body>
</html>