<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<div th:fragment="menu-bar">
</div>

<div th:fragment="user-dropdown-menu">
    <div class="dropdown-menu dropdown-menu-right user-dd animated">
        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5">Opcja A</i></a>
        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-wallet m-r-5 m-l-5"></i> Opcja B</a>
        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-email m-r-5 m-l-5"></i> Opcja C</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="javascript:void(0)"><i class="ti-settings m-r-5 m-l-5"></i>Opcja D</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" th:href="@{/logout}"><i class="fa fa-power-off m-r-5 m-l-5"></i> Opcja E</a>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div th:fragment="topbar">
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin5">
                <!-- This is for the sidebar toggle which is visible on mobile only -->
                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                        class="ti-menu ti-close"></i></a>
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" th:href="@{/index}">
                    <!-- Logo icon -->
                    <b class="logo-icon p-l-10">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img th:src="@{/assets/images/logo-icon.png}" alt="homepage" class="light-logo"/>

                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                             <!-- dark Logo text -->
                             <img th:src="@{/assets/images/logo-text.png}" alt="homepage" class="light-logo"/>

                        </span>
                    <!-- Logo icon -->
                    <!-- <b class="logo-icon"> -->
                    <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                    <!-- Dark Logo icon -->
                    <!-- <img src="../../assets/images/logo-text.png" alt="homepage" class="light-logo" /> -->

                    <!-- </b> -->
                    <!--End Logo icon -->
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Toggle which is visible on mobile only -->
                <!-- ============================================================== -->
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                   data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light"
                                                              href="javascript:void(0)" data-sidebartype="mini-sidebar"><i
                            class="mdi mdi-menu font-24"></i></a></li>
                    <!-- ============================================================== -->
                    <!-- create new -->
                    <!-- ============================================================== -->
                    <div layout:fragment="menubar">
                    </div>
                </ul>


                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <li class="nav-item dropdown stretched-nav-item">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href=""
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <!--<div class="inline-image">-->
                        <img th:src="@{/assets/images/users/1.jpg}" alt="user"
                             class="rounded-circle inline-with float-left avatar-imgicon">
                        <div class="inline-with float-right avatar-imgicon"
                             th:text="${'Hello ' + loggedInUserDTO.username + '!'}"></div>
                        <!--</div>-->
                    </a>
                    <div layout:fragment="usermenu">
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
</div>

<div th:fragment="sidebar">
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <nav class="sidebar-nav">
                <!-- Sidebar navigation-->
                <ul id="sidebarnav" class="p-t-30">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link"
                           th:href="@{/index}" aria-expanded="false">
                            <i class="mdi mdi-view-dashboard"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                           aria-expanded="false">
                            <i class="mdi mdi-account-key"></i>
                            <span class="hide-menu">User Management</span>
                        </a>
                        <ul aria-expanded="false" class="collapse first-level">
                            <li class="sidebar-item">
                                <a th:href="@{/admin/employee/add}" class="sidebar-link smaller-sidebar-link">
                                    <i class="mdi mdi-plus"></i>
                                    <span class="hide-menu smaller-font-menu">Register new account</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a th:href="@{/admin/employee/list}" class="sidebar-link smaller-sidebar-link">
                                    <i class="mdi mdi-view-list"></i>
                                    <span class="hide-menu smaller-font-menu">View user list</span>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--<li sec:authorize="hasRole('ADMIN')" class="sidebar-item">-->
                        <!--<a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/user/list}"-->
                           <!--aria-expanded="false">-->
                            <!--<i class="mdi mdi-account-key"></i>-->
                            <!--<span class="hide-menu">User list</span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                           aria-expanded="false">
                            <i class="mdi mdi-satellite-variant"></i>
                            <span class="hide-menu">Radar Management</span>
                        </a>
                        <ul aria-expanded="false" class="collapse first-level">
                            <li class="sidebar-item">
                                <a th:href="@{/radar/add}" class="sidebar-link smaller-sidebar-link">
                                    <i class="mdi mdi-plus"></i>
                                    <span class="hide-menu smaller-font-menu">Add new radar</span>
                                </a>
                            </li>
                            <li class="sidebar-item">
                                <a th:href="@{/radar}" class="sidebar-link smaller-sidebar-link">
                                    <i class="mdi mdi-view-list"></i>
                                    <span class="hide-menu smaller-font-menu">List</span>
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>

        <!-- End Sidebar scroll-->
    </aside>
</div>

</body>
</html>