<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div layout:fragment="content" id="content" class="container lite-padding">
    <div class="container aligned-margines">
        <div class="col-lg-12 mb-4">
            <div class="card shadow">
                <div class="card-header row col-12 aligned-margines shadow-table-header">
                    <h3 class="table-head-title" th:text="#{request.edit}"/>
                </div>
                <form class="card shadow" th:action="@{'/request/edit/' + ${productRequest.getId()}}" method="post"
                      th:object="${requestForm}">
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-md-1 col-md-5 middledd">
                                <label for="shop" th:text="#{product.name}"/>
                            </div>
                            <div id="shop" class="col-md-5 middled">
                                <input class="form-control roundless shadow" type="text"
                                       th:value="${productRequest.getProduct().getName()}" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-5 middled">
                                <label for="quantity" th:text="#{product.quantity}"/>
                            </div>
                            <div class="col-md-2 middled">
                                <input id="quantity" name="quantity" required class="form-control roundless shadow" type="number" min="0" step="0.01"
                                       th:value="${productRequest.getQuantity()}">
                            </div>
                            <div class="col-md-3 middled">
                                <select id="unitId" name="unitId" class="form-control roundless shadow">
                                    <option class="form-control roundless shadow" th:each="unit: ${units}"
                                            th:selected="${productRequest.getUnit().getId() == unit.getId() ? true : false}"
                                            th:attr="value = ${unit.getId()}"
                                            th:text="${unit.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-5 middled">
                                <label for="priority" th:text="#{request.order.priority}"/>
                            </div>
                            <div class="col-md-5 middled">
                                <select id="priority" name="priority" class="form-control roundless shadow">
                                    <option class="form-control roundless" th:each="currentPriority : ${priorities}"
                                            th:selected="${productRequest.getPriority() == currentPriority ? true : false}"
                                            th:attr="value = ${currentPriority}"
                                            th:text="${currentPriority.name()}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-1 col-md-5 middled">
                                <label for="description" th:text="#{description}"/>
                            </div>
                            <div class="col-md-5 middled">
                                <textarea id="description" name="description" class="form-control roundless shadow" type="text" th:text="${productRequest.getDescription()}"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="offset-md-10 col-md-2 middled">
                                <input class="form-control w-100 button roundless shadow" type="submit"
                                       th:value="#{add.request}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 mb-4" th:if="${admin||office}">
            <div class="card shadow">
                <div class="card-header row col-12 aligned-margines shadow-table-header">
                    <h3 class="table-head-title" th:text="#{request.change.status}"/>
                </div>
                <form class="card-body" th:object="${status}"
                      th:action="@{'/request/edit/'+ ${requestForms.getId()}+'/changeStatus/'}"
                      method="post">
                    <div class="row offset-md-1 col-md-10">
                        <div class="col-6">
                            <label th:text="#{request.status}"/>
                        </div>
                        <div class="col-6 row">
                            <select class="col-6" th:field="*{status}">
                                <option th:each=" statuses: ${T(com.aps.ordering.model.types.ProductRequestStatus).values()}"
                                        th:value="${statuses}" th:text="${statuses}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="offset-10 col-2 paddingless">
                            <input class="form-control roundless button" type="submit" th:value="#{edit.unit}"/>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="offset-8">
            <a class="button button-create-orderlist shadow"
               th:href="@{'/order/details/'+${productRequest.getOrderList().getId()}}"
               th:text="#{ctrl.previous}"></a>
        </div>
        <hr>
        <div class="col-lg-12 mb-4">
            <div class="card shadow-list-change">
                <div class="card-header row col-12 aligned-margines shadow-list-change">
                    <h2 class="table-head-title" th:text="#{order.details.last.change}"/>
                </div>
                <div class="card-body">
                    <table class="table table-striped card-text card-body shadow-list-change">
                        <th class="row col-12 table-header aligned-margines shadow-list-change">
                            <div class="col-6" th:text="#{details}"/>
                            <div class="col-3" th:text="#{order.details.changed.by}"/>
                            <div class="col-3" th:text="#{last.updated.time}"/>
                        </th>
                        <th class="row col-12 colored aligned-margines shadow-list-change"
                            th:each=" events : ${productRequest.getApplicationEvents()}"
                            th:if="${events.getEvent().contains('Changed')}">
                            <div class="col-6" th:text="${events.getEvent()}"/>
                            <div class="col-3" th:text="${events.getMsg()}"/>
                            <div class="col-3"
                                 th:text="*{#temporals.format(events.getTime(),'dd-MM-yyyy HH:mm:ss')}"></div>
                        </th>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>