<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Product list</title>
</head>
<body>
<div layout:fragment="menubar">
    <div th:replace="fragments/navigators :: menu-bar"></div>
</div>
<div layout:fragment="usermenu">
    <div th:replace="fragments/navigators :: user-dropdown-menu"></div>
</div>
<div layout:fragment="content" id="content" class="container lite-padding">
    <main role="main" class="container">
        <div id="hideMe" class="warning-nav" th:if="${error_message}">
            <div th:text="${error_message}"></div>
        </div>
        <div class="container aligned-margines">
            <div class="col-lg-12 mb-4">
                <div class="card shadow">
                    <div class="card-header row col-12 aligned-margines shadow-table-header">
                        <h2 class="table-head-title" th:text="#{product.list.title}"></h2>
                    </div>
                    <div class="table table-striped card-text card-body shadow">
                        <div class="row col-12 table-header aligned-margines shadow">
                            <div class="col-2" th:text="#{id}"></div>
                            <div class="col-3" th:text="#{product.name}"></div>
                            <div class="col-2" th:text="#{owner}"></div>
                            <div class="col-4" th:text="#{actions}"></div>
                        </div>
                        <div class="row col-12 colored aligned-margines" th:each="product : ${products}"
                            th:if="${currentUser.isAdmin() || product.isApproved()}">
                            <div class="col-2" th:text="${product.getId()}">
                            </div>
                            <div class="col-3 break-line" th:text="${product.getName()}">
                            </div>
                            <div class="col-2 break-line" th:text="${product.getCreator().getName()}">
                            </div>
                            <div class="col-1">
                                <a class="link actions-details"
                                   th:href="@{'/ordering/product/details/' + ${product.getId()}}" th:text="#{details}"></a>
                            </div>
                            <div class="col-1">
                                <a class="link actions-details"
                                   th:if="${currentUser.isAdmin() || product.getCreator().getId() == currentUser.getId()}"
                                   th:href="@{'/ordering/product/edit/' + ${product.getId()}}"
                                   th:text="#{edit}"></a>
                            </div>
                            <div class="col-1">
                                <a class="link actions-details"
                                   th:if="${currentUser.isAdmin() || product.getCreator().getId() == currentUser.getId()}"
                                   th:href="@{'/ordering/product/delete/' + ${product.getId()}}" th:text="#{delete}"></a>
                            </div>
                            <div class="col-1">
                                <a class="link actions-details"
                                   th:if="${currentUser.isAdmin() && !product.isApproved()}"
                                   th:href="@{'/ordering/product/approve/' + ${product.getId()}}" th:text="#{approve}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="row col-12 colored aligned-margines redish" th:if="${products.getContent().size() == 0}">
                        <div class="col-12" th:text="#{list.no.elements}">
                        </div>
                    </div>
                    <div class="row offset-4" th:if="${products.getTotalPages() > 1}">
                        <div class="form-group col-md-1.5">
                            <select class="form-control roundless" id="pageSizeSelect">
                                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                                        th:selected="${pageSize} == ${selectedPageSize}"></option>
                            </select>
                        </div>
                        <div class="form-group col-md-11 pagination-centered">
                            <ul class="pagination">
                                <li th:class="${products.getNumber() == 0} ? disabled"><a class="page-link"
                                                                                        th:href="@{/product/list/(pageSize=${selectedPageSize}, page=1)}">«</a>
                                </li>
                                <li th:class="${products.getNumber() == 0} ? disabled"><a class="page-link"
                                                                                        th:href="@{/product/list/(pageSize=${selectedPageSize}, page=${products.getNumber()})}">←</a>
                                </li>
<!--                                <li th:class="${products.getNumber() == (page - 1)} ? 'active pointer-disabled'"-->
<!--                                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}"><a-->
<!--                                        class="page-link"-->
<!--                                        th:href="@{/product/list/(pageSize=${selectedPageSize}, page=${page})}"-->
<!--                                        th:text="${page}"></a></li>-->
<!--                                <li th:class="${productList.number + 1 == productList.totalPages} ? disabled"><a-->
<!--                                        class="page-link"-->
<!--                                        th:href="@{/product/list/(pageSize=${selectedPageSize}, page=${productList.number + 2})}">→</a>-->
<!--                                </li>-->
<!--                                <li th:class="${productList.number + 1 == productList.totalPages} ? disabled"><a-->
<!--                                        class="page-link"-->
<!--                                        th:href="@{/product/list/(pageSize=${selectedPageSize}, page=${productList.totalPages})}">»</a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                    <div class="offset-10 col-2 paddingless">
                        <a class="button w-100 shadow" th:href="@{/ordering/product/add}" th:text="#{product.create}"></a>
                    </div>
                </div>
                <div class="offset-9">
                    <a class="button w-100 shadow" th:href="@{'/'}"
                       th:text="#{ctrl.back.to.home.page}"></a>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>