/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    background-color: #f4f4f4;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 45px; /* Vertically center the text there */
    background-color: #f5f5f5;
    border-top: 1px solid #555555;
}

.successful-action {
    color: lightgreen;
}

.fail-action {
    color: lightcoral;
}

textarea {
    margin-bottom: 6px;
}

.container {
    max-width: 1600px !important;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 84px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.table-header {
    color: black;
    background-color: #6e6e6e87;
}

.colored:nth-child(odd) {
    color: black;
    background-color: white;
}

/*.colored:nth-child(odd):hover {*/
/*color: black;*/
/*background-color: #62c6df52;*/
/*}*/

.colored:nth-child(even) {
    color: black;
    background-color: #f2f2f2;

}

/*.colored:nth-child(even):hover {*/
/*color: black;*/
/*background-color: #f2f2f2;*/

/*}*/

.window {
    background-color: #e4e4e4;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.roundless {
    border-radius: 0 !important;
}

.middled {
    vertical-align: middle;
}

.aligned-margines {
    margin-left: 0px;
    margin-right: 0px;
}

.warning-nav {
    background-color: #ff0000;
    text-align: center;
    position: fixed !important;
    right: 0;
    left: 0;
    top: 56px;
    z-index: 1030;
}

.message-nav {
    background-color: #005d0b;
    position: fixed !important;
    color: #ffffff;
    text-align: center;
    right: 0;
    left: 0;
    top: 56px;
    z-index: 1030;
}

.link {
    color: #ff0000;
}

.bold {
    font-weight: bold;
}

.table-element {
    font-size: 20px;
    transform: translateY(15%);
}

.button {
    background-color: #6e6e6e;
    border: none;
    color: white;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100% !important;
    border-radius: 0 !important;
}

.point-me:hover {
    cursor: pointer;
    background-color: white;
}

.pointer-cursor:hover {
    cursor: pointer;
}

.paddingless {
    padding: 0px;
}

/*.button:hover {*/
/*background-color: #5f005a;*/
/*border: none;*/
/*color: white;*/
/*padding: 7px 20px;*/
/*text-align: center;*/
/*text-decoration: none;*/
/*display: inline-block;*/
/*font-size: 16px;*/
/*margin: 4px 2px;*/
/*cursor: pointer;*/
/*width: 100% !important;*/
/*border-radius: 0 !important;*/
/*}*/

#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        overflow: hidden;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        visibility: hidden;
    }
}

input {
    text-align: center;
    border-radius: 0 !important;
}

label {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    padding: 10px 0px;
}

.separate-left {
    border-left: 1px #555555 solid;
}

.separate-right {
    border-right: 1px #555555 solid;
}

.separator-row {
    border-bottom: 1px solid #333333;
}

/*when list is empty*/
.redish {
    text-align: center;
    vertical-align: middle;
    padding: 3px 3px;
    background-color: #64e6ff !important;
}

.redish:hover {
    text-align: center;
    vertical-align: middle;
    padding: 3px 3px;
    background-color: #62c6df !important;
}

/* The container-checkbox */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
    position: absolute;
    padding: 10px 0px;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    padding: 10px 0px;
    height: 33px;
    width: 33px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
    left: 14px;
    top: 10px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.language-menu > li:hover {
    padding-right: 20px;
    background-color: lightskyblue !important;
}

.icon {
    color: #fff;
    text-shadow: 1px 1px 1px #ccc;
    font-size: 24px;
    margin-left: 10px;
}

ol > li > ul {
    display: none;
}

ol > li:hover > ul {
    display: block;
}

.negative-event {
    background-color: indianred;
}

.positive-event {
    background-color: #9affa3 !important;
}

.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.details-colored:nth-child(odd) {
    color: black;
    background-color: deepskyblue;
}

/*.details-colored:nth-child(odd):hover {*/
/*color: black;*/
/*background-color: deepskyblue;*/
/*}*/

.details-colored:nth-child(even) {
    color: black;
    background-color: lightgrey;

}

/*zmienia kolor wiersza*/
/*.details-colored:nth-child(even):hover {*/
/*color: black;*/
/*background-color: lightgrey;*/

/*}*/

.word-break {
    display: table-cell;
    word-wrap: break-word;
}

.interaction {
    background-color: green;
    margin-bottom: 10px;
}

/*po najechaniu zmienia kolor guzika dodawania xmla*/
.interaction:hover {
    background-color: lightgreen;
}

.break-line {
    word-wrap: break-word;
}

.actions-details {
    color: #62c6df !important;
}

/*po najechaniu zmienia kolor guzików z sekcji action*/
.actions-details:hover {
    color: #0000ff !important;
    cursor: pointer;
}

.delete-button {
    background-color: lightcoral;
    color: white;
}

.lightcyan-background {
    background-color: lightcyan;
}

.center-item {
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.details-color {
    background-color: aliceblue;
}

.button-product {
    background-color: #74006f;
    border: none;
    color: white !important;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 100% !important;
    border-radius: 0 !important;
}

.button-create-orderlist {
    margin: 0 28px 16px 60px !important;
    color: white !important;
    text-decoration: none !important;
    width: 85% !important;

}

.button-create-req {
    margin-left: 500px !important;
    margin-right: 400px !important;
    margin-top: 35px !important;
}

.shadow-list-change {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.8) !important;
}

.shadow-table-header {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.card-header {
    background-color: rgba(255, 255, 255, 0);
!important;
}

.table td, .table th {
    padding: 0.15rem !important;
}

.navbar-dark .navbar-brand {
    color: #62c6df !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #62c6df !important;

}

.icon {
    color: #62c6df !important;
    text-shadow: 1px 1px 1px #62c6df !important;
}

a:not([href]):not([tabindex]) {
    color: #62c6df !important;
}

.font-navbar-logo {
    font-size: 25px;
!important;
    font-weight: bold;
!important;
}

.font-navbar-collapse {
    font-size: 20px;
    font-weight: bold;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}

.lrmargin {
    margin-left: 3px;
    margin-right: 1px;
}

body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-index {
    /* The image used */
    background-image: url("/img/index.png");

    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-content {
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
    color: black;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    text-align: center;
}